%sport-button {
  color: var(--dark-blue, #11131f);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.81px;
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  background: var(--white, #f6f5ef);

  position: absolute;
  bottom: 0;
  margin: 32px;
}

%rent-text{
    font-family: "DM Sans";  
    font-style: normal;
}